*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #player-number{
    visibility: hidden;
} */

body{
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 15px;
    margin: 2rem auto;
    /* background-image: linear-gradient(to left bottom, #3f0bfb, #005fff, #0087ff, #00a6ff, #00c0f8, #00c0f1, #00c0ea, #00bfe3, #00a8e3, #008ee0, #0073d6, #1855c4); */
    background-image: radial-gradient(circle, #1f63c9, #0085d0, #49a3ce, #88bccc, #c5d2d3);


}


h4{
    font-family: 'Domine', serif;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.hide{
    visibility:hidden;
}

h1{
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    
}
.container{
   
    margin:1rem auto;
    height: auto;
    
  
}

.container #player-selector{
   padding: 8px;
   font-size: 1rem;
   width: 100%;
   border-radius: 10px;
  
}

.container .player-name{
    padding: 10px;
    width: 100%;
    margin-top: 1rem;
    border: 0.8px solid salmon;
    border-radius: 10px;
    
    
    
   
    
}

.wrapper .random{
    margin-right: 1.5px;
    margin-left: 1.5px;
    margin-bottom: 1rem;
 
}

#timer{
    border:none;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    width:140px;
    padding:8px;
    border-radius: 10px;

}

#player-div{
    font-size: 1.5rem;
    
}

#interactive-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

#btn-submit , #btn-reset{
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: 5rem;
    margin-bottom: 10px;
    margin-right: 1rem;
    font-family: 'Domine', serif;
    font-weight: 600;
}



.hide{
    display: none;

}
.show{
    display: inline-block;
}

.voice{
    display: flex;
    justify-content: center;
}

#male , #female, .voice-selection{
    margin-right: 12.5px;
    margin-left: 2.5px;
    margin-bottom: 1rem;
}
@media screen 
  and (min-device-width: 1200px) 
  /* and (max-device-width: 1600px)  */
  and (-webkit-min-device-pixel-ratio: 1) { 
    body{
        width: 30vw;
       
      
    
    }
    #interactive-buttons{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .container{
   
        margin:1rem auto;
        height: auto;
        
      
    }
}



/*     
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Domine', serif;
*/